---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../icons/BriefCase.astro";
import Code from "../icons/Code.astro";
import Proyects from "../components/Proyects.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import Skill from "../icons/Skill.astro";
import Skills from "../components/Skills.astro";
---

<Layout
  title="Portafolio de Bryan Chavajay - Desarrollafor y programador web con 2 años de experiencia"
  description="Portafolio personal de Bryan Chavajay, breve resumen sobre su trayectoria en la industría y sus principales proyectos"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-24">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
          <BriefCase class="size-8" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
          <Code class="size-8" />Proyectos destacados
        </h2>
        <Proyects />
      </SectionContainer>

      <SectionContainer id="habilidades">
        <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
          <Skill class="size-8 text-white" />Habilidades
        </h2>
        <Skills />
      </SectionContainer>

      <!-- <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-2xl font-semibold gap-x-4 text-white"
        >
          <ProfileCheck class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer> -->
    </div>
  </main>
</Layout>
