---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Actualidad",
    title: "Analista Programador",
    description:
      "Responsable de la gestión y análisis de requerimientos, documentación, desarrollo de nuevas funcionalidades en C# y mantenimiento de bases de datos SQL Server, como outsourcing para Banco Promerica Guatemala.",
    company: "Ssasa",
  },
  {
    date: "Febrero 2023 - Noviembre 2023",
    title: "Desarrollador Web",
    description:
      "Desarrollo de proyectos web, incluyendo el levantamiento y análisis de requerimientos, redacción de documentación técnica, desarrollo e implementación.  Para Cafetería y Restaurante La Centenaria, y Cáritas Diócesis de Sololá Chimaltenango.",
    company: "Universidad Mariano Gálvez de Guatemala (UMG)",
  },
  {
    date: "Julio 2022 - Noviembre 2022",
    title: "Desarrollador Web",
    description:
      "Proyecto web para la empresa cafetalera Café Vida, abarcando el levantamiento y análisis de requerimientos, redacción de documentación técnica, desarrollo utilizando Node Js, React y PostgreSQL, e implementación",
    company: "Universidad Mariano Gálvez de Guatemala (UMG)",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
