<a
  class="flex justify-center items-center rounded-full gap-x-2 py-1 px-2 md:py-2 md:px-4 text-sm md:text-base border border-white/10 bg-gray-600/30 hover:bg-gray-600/60 text-white duration-300 hover:scale-105"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>